.Hangman {
  width: 400px;
  text-align: center;
  zoom: 1.3;
}

.Hangman img {
  border: 10px solid rgb(74, 174, 199);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.Hangman h1 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 0.1em;
  margin-top: 0;
}

.Hangman-word {
  letter-spacing: 1em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 2rem;
}

.Hangman button {
  font-size: 1rem;
  background-color: #272727;
  max-width: auto;
  min-width: auto;
  margin: 5px 2px 2px 2px;
  border-radius: 20px;
}

.Hangman button:hover:enabled {
  background-color: #FED766;
  color:#272727;
}

#restart {
  background-color: #C52184;
}

#restart:hover {
  background-color: #F9B4ED;
  box-shadow: 0 5px 15px rgba(78, 0, 134, 0.4);
}